ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    width: 100px;
    background-color: grey;
    display: block;
    color: #000;
    padding: 16px;
}

li a:hover {
    background-color: green;
    color: red;
}