body {
    background-color: rgb(153, 187, 153);
}

#container {
    margin-left: 20%;
}

h1 {
    font-size: 38px;
}

#greenCleats {
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
}

#blueCleats {
    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
}

img {
    border-width: 5px;
    border-style: solid;
    border-color: red;
    /* float: left; */
}

.items {
    display: flex;
    margin-bottom: 20;
}