body {
    background-color: blanchedalmond;
}

#container {
    margin-left: 50%;
}


#greenCleats {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

#blueCleats {
    border-width: 5px;
    border-style: solid;
    border-color: red;
}